*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial, Helvetica, sans-serif;
line-height:1.6;
color:#222;
}

/* HERO */

.hero{
height:90vh;
background-image: url("22571.jpg");
color:white;
padding:60px;
display:flex;
flex-direction:column;
justify-content:space-between;
}

.hero-top{
display:flex;
justify-content:space-between;
font-size:14px;
}

.hero-content{
max-width:600px;
}

.hero h1{
font-size:80px;
margin:20px 0;
font-style:italic;
}

.subtitle{
font-size:22px;
margin-bottom:30px;
}

.btn{
display:inline-block;
padding:14px 30px;
border:2px solid white;
border-radius:40px;
color:white;
text-decoration:none;
cursor:pointer;
}

.btn.dark{
color:black;
border:2px solid black;
}

/* DETAILS */

.details{
display:flex;
justify-content:space-between;
padding:80px;
background:#f5f5f5;
}

.goal{
font-size:40px;
text-align:center;
}

/* PROGRAM */

.program{
padding:80px;
text-align:center;
}

.program ul{
list-style:none;
margin:30px auto;
max-width:400px;
}

.program li{
padding:8px 0;
}

/* FAQ */

.faq{
padding:80px;
background:#f5f5f5;
}

.faq-item{
margin-top:25px;
}

/* SPREAD */

.spread{
padding:80px;
text-align:center;
}

.downloads{
margin-top:30px;
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}

/* CONTACT */

.contact{
background:#0b1d16;
color:white;
padding:60px;
text-align:center;
}

.contact-grid{
margin-top:30px;
display:flex;
justify-content:center;
gap:60px;
flex-wrap:wrap;
}